.pics {
    width: 100%;
    height: 550px;
}

.jumbotron {
    width: 100%;
    height: 150px;
    margin-bottom: 0px;
}

.jumbotron p {
    padding-bottom: 20px;
}

.text-black {
    color: black;
}

#carouselExampleControls {
    margin-bottom: 10px;
}

.card {
    height: 520px;
}

.london {
    height: auto;
    width: 100%;
}

.footer {
    /*position: absolute;*/
    padding-top: 20px;
    margin-bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: black;
}